@{
    ViewBag.Title = "About Us";
}

<h2>About</h2>
<p>
     States MVC Demo (C# Version)<br />
     <br />
     Written by Richard Rosenheim<br/>
     April 2011<br/>
     <br />
     &copy; Copyright 2011, Richard Rosenheim
</p>